*{
	font-family: sans-serif;
}
table{
	border: 3px solid white;
	border-collapse: collapse;
	background-color: #cce6ff;
}
th,td{
	border: 2px solid white;
	padding-left:10px;
	padding-right:10px;
}
tr:nth-child(2n+1){
	background-color: #e6f2ff;
}
th{
	background-color: #cce6ff;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	font-variant: small-caps;
}
td{
	height: 45px;
}
td:first-child{
	text-transform: capitalize;
}

tbody>tr:hover{
	background-color: #e0ebeb;
}

