
th{
background-image:url(http://365psd.ru/images/backgrounds/bg-lightl-884.jpg);
color:black;
}
.foot {
background:#e6f2ff;
}

p{
	background-image:url(http://fonforsite.ru/_ph/5/2/86513465.png);
	border-radius:13em/3em;
	text-align:center;
	color:white;
}

